.info-new-site{
  font-size: 25px;
  padding: 20px;
  color: white;
  background-color: #4F8EC3;
  text-align: center;
  a{
    font-weight: 900;
  }
}

.site-name{
  display: block;
  font-size: 30px;
  margin: 10px 0 0 30px;
}

.about{
  display: inline-block;
  position: relative;
  font-size: 20px;
  padding-left: 60px;
  margin: 0 0 10px 30px;
  &:before{
    content: "";
    position: absolute;
    top: 50%;
    left: 0;
    width: 50px;
    height: 2px;
    background-color: #89909A;
  }
  &:after{
    content: "+";
    visibility: hidden;
  }
}

.social-icons-wrapper {
  width: 100%;
  .social-icons {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
    cursor: default;
    a {
      position: relative;
      display: inline-block;
      color: #737C88;
      font-size: 13px;
      margin: 2px;
      padding: 7px 8px 6px;
      border-radius: 100%;
      border: 1px solid #737C88;
      transition: 0.3s box-shadow, 0.3s color, 0.3s border;
      &:before {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        z-index: -2;
      }
      &:after {
        position: absolute;
        content: "";
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 100%;
        z-index: -1;
        box-shadow: inset 0 0 0 20px #f5f5f5;
        transition: 0.5s;
      }
      &:hover {
        color: #f5f5f5;
        border-color: transparent;
        &:after {
          box-shadow: inset 0 0 0 0 transparent;
        }
      }
      &.stackoverflow:before {
        box-shadow: inset 0 0 0 20px #F48024;
      }
      &.github:before {
        box-shadow: inset 0 0 0 20px #333333;
      }
      &.facebook:before {
        box-shadow: inset 0 0 0 20px #3b5998;
      }
      &.twitter:before {
        box-shadow: inset 0 0 0 20px #00aced;
      }
      &.rss:before {
        box-shadow: inset 0 0 0 20px #FF9133;
      }
      &.mail:before {
        box-shadow: inset 0 0 0 20px #4183c4;
      }
    }
  }
}
