<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <title>{{ page.title | remove: '<span>' | remove: '</span>' }}</title>
    <meta name="viewport" content="width=device-width">
    <link rel="shortcut icon" href="/favicon.ico">

    <!-- CSS -->
    <link href='https://fonts.googleapis.com/css?family=Lato:300,900' rel='stylesheet' type='text/css'>
    <link rel="stylesheet" href="/css/main.css">
</head>
<body>

<div class="wrapper">

    <div class="info-new-site">
        I have a new site! — Please visit it :) — <a href="https://lmgonzalves.com/" target="_blank" title="Go to my new site!">lmgonzalves.com</a>
    </div>

    <header class="container">
        <div class="row">
            <div class="col-xs-3">
                <a href="/" class="site-name">{{ site.name }}</a>
                <div class="about"></div>
            </div>
            <div class="col-xs-9 social-icons-wrapper">
                <div class="social-icons">
                    <a href="http://stackoverflow.com/users/4908989/lmgonzalves?tab=profile" target="_blank" class="stackoverflow" title="Me on StackOverflow"><i class="icon-stackoverflow"></i></a>
                    <a href="https://github.com/lmgonzalves" target="_blank" class="github" title="Me on Github"><i class="icon-github"></i></a>
                    <a href="https://www.facebook.com/luismanuel.goncalvestorres" target="_blank" class="facebook" title="Me on Facebook"><i class="icon-facebook"></i></a>
                    <a href="https://twitter.com/lmgonzalves" target="_blank" class="twitter" title="Me on Twitter"><i class="icon-twitter"></i></a>
                    <a href="/feed.xml" target="_blank" class="rss" title="RSS"><i class="icon-rss"></i></a>
                    <a href="mailto:luismgonzalves@gmail.com" target="_blank" class="mail" title="Drop me a line"><i class="icon-mail"></i></a>
                </div>
            </div>
        </div>
    </header>

    {{ content }}

</div>

<footer>© 2016 · lmgonzalves</footer>

</body>
</html>
